#section-container{
    display: flex;
    flex-wrap: nowrap;
}

#map{
    width: 60%;
    height: 600px;
    flex:1 0;
}

#part{
    width: 30%;
    padding: 20px;
    align-items: center;
}

#info-box {
    position: absolute;
    padding: 10px;
    pointer-events: none; 
    display: none;
    margin-left: 400px;
}