#section-container{
    display: flex;
    flex-wrap: nowrap;
}

#map{
    width: 60%;
    height: 600px;
    flex:1 0;
}

#part{
    width: 30%;
    padding: 20px;
    align-items: center;
}

#info-box {
    width: 30%;
    padding: 20px;
    align-items: center;
}